{#
/**
 * @file
 * Theme override of a datetime form wrapper.
 *
 * Available variables:
 * - content: The form element to be output, usually a datelist, or datetime.
 * - title: The title of the form element.
 * - title_attributes: HTML attributes for the title wrapper.
 * - description: Description text for the form element.
 * - required: An indicator for whether the associated form element is required.
 *
 * @see \Drupal\Core\Datetime\DatePreprocess::preprocessDatetimeWrapper()
 */
#}
{%
  set title_classes = [
    required ? 'js-form-required',
    required ? 'form-required',
  ]
%}
{% set datetime_wrapper_title_attributes = {
  class: title_classes,
} %}
{% if title %}
  {% with { attributes: title_attributes } %}
    <h4{{ add_attributes(datetime_wrapper_title_attributes) }}>{{ title }}</h4>
  {% endwith %}
{% endif %}
{{ content }}
{% if errors %}
  <div>
    {{ errors }}
  </div>
{% endif %}
{% if description %}
  <div{{ description_attributes }}>
    {{ description }}
  </div>
{% endif %}
