{% set colors_base_class = "sg-colors" %}

<ul {{ bem(colors_base_class) }}>
  {% for item in items %}
    <li {{ bem("list", [], colors_base_class) }}>
      <div {{ bem("color", [item.value], colors_base_class) }}></div>
      <div {{ bem("sg-info") }}>
        <span>{{ item.name }}</span> <br/>
        <code>${{ item.value }}</code>
      </div>
    </li>
  {% endfor %}
</ul>
