{#
/**
 * @file
 * Theme override to display a single page.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{%
  set page_classes = [
    'section',
    'page',
  ]
%}
<div{{ attributes.addClass(page_classes) }}>

  {{ page.header }}
  {{ page.status }}

  <main class="section main" role="main">
    <a id="main-content" tabindex="-1"></a>
    {{ page.breadcrumb }}
    {{ page.content }}
  </main>

  {{ page.footer }}

</div>{# /.layout-container #}
