{#
/**
 * @file
 * Theme override to display primary and secondary local tasks.
 *
 * Available variables:
 * - primary: HTML list items representing primary tasks.
 * - secondary: HTML list items representing primary tasks.
 *
 * Each item in these variables (primary and secondary) can be individually
 * themed in menu-local-task.html.twig.
 */
#}

{# Drupal Specific #}
{% if primary %}
  <h2 class="visually-hidden">{{ 'Primary tabs'|t }}</h2>
  <ul class="tabs__nav tabs__nav--local-tasks">{{ primary }}</ul>
{% endif %}
{% if secondary %}
  <h2 class="visually-hidden">{{ 'Secondary tabs'|t }}</h2>
  <ul>{{ secondary }}</ul>
{% endif %}

{# Component Library Specific (javascript version) #}
{% if not primary %}
{{ attach_library('emulsify/tabs') }}
  <div id="tabs" class="tabs no-js">
    <ul class="tabs__nav">
      {% for key, tab in tabs %}
        {% include "@molecules/tabs/_tab.twig" with {
          tab_link: "#tab-" ~ key,
          tab_text: tab.tab_text,
        } %}
      {% endfor %}
    </ul>
    {% for key, tab in tabs %}
      <div class="tabs__tab{% if key == 0 %} is-active{% endif %}">
        <div id="tab-{{ key }}" class="tabs__content">
          <p>{{ tab.tab_content }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}
