{#
/**
 * @file
 * Theme override for a form element in config_translation.
 *
 * Available variables:
 * - element: Array that represents the element shown in the form.
 *   - source: The source of the translation.
 *   - translation: The translation for the target language.
 *
 */
#}
<div{{ bem('translation-set', [], '', ['clearfix']) }}>
  <div{{ bem('source', [], 'translation-set', ['layout-column', 'layout-column--half']) }}>
    {{ element.source }}
  </div>
  <div{{ bem('translated', [], 'translation-set', ['layout-column', 'layout-column--half']) }}>
    {{ element.translation }}
  </div>
</div>
