{#
/**
 * @file
 * Theme override for the version display of a project.
 *
 * Available variables:
 * - attributes: HTML attributes suitable for a container element.
 * - title: The title of the project.
 * - core_compatibility_details: Render array of core compatibility details.
 * - version:  A list of data about the latest released version, containing:
 *   - version: The version number.
 *   - date: The date of the release.
 *   - download_link: The URL for the downloadable file.
 *   - release_link: The URL for the release notes.
 *   - core_compatible: A flag indicating whether the project is compatible
 *     with the currently installed version of Drupal core. This flag is not
 *     set for the Drupal core project itself.
 *   - core_compatibility_message: A message indicating the versions of Drupal
 *     core with which this project is compatible. This message is also
 *     contained within the 'core_compatibility_details' variable documented
 *     above. This message is not set for the Drupal core project itself.
 *
 * @see \Drupal\update\Hook\UpdateThemeHooks::preprocessUpdateVersion()
 */
#}
{% set update_version_attributes = {
  class: bem('version', [], 'project-update'),
} %}
<div{{ add_attributes(update_version_attributes) }}>
  <div class="clearfix">
    <div{{ bem('version-title', [], 'project-update', ['layout-column', 'layout-column--quarter']) }}>{{ title }}</div>
    <div{{ bem('version-details', [], 'project-update', ['layout-column', 'layout-column--quarter']) }}>
      <a href="{{ version.release_link }}">{{ version.version }}</a>
      <span{{ bem('version-date', [], 'project-update') }}>({{ version.date|date('Y-M-d') }})</span>
    </div>
    <div class="layout-column layout-column--half">
      <ul{{ bem('version-links', [], 'project-update') }}>
        {% if version.core_compatible is not defined or version.core_compatible %}
          <li{{ bem('download-link', [], 'project-update') }}>
            <a href="{{ version.download_link }}">{{ 'Download'|t }}</a>
          </li>
        {% endif %}
        <li{{ bem('release-notes-link', [], 'project-update') }}>
          <a href="{{ version.release_link }}">{{ 'Release notes'|t }}</a>
        </li>
        {% if core_compatibility_details %}
          <li{{ bem('compatibility-details', [], 'project-update') }}>
            {{ core_compatibility_details }}
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
