{#
/**
 * @file
 * Theme override for a progress bar.
 *
 * Note that the core Batch API uses this only for non-JavaScript batch jobs.
 *
 * Available variables:
 * - label: The label of the working task.
 * - percent: The percentage of the progress.
 * - message: A string containing information to be displayed.
 */
#}
<div{{ bem('progress') }} data-drupal-progress>
  {% if label %}
    <div{{ bem('label', [], 'progress') }}>{{ label }}</div>
  {% endif %}
  <div{{ bem('track', [], 'progress') }}><div{{ bem('bar', [], 'progress') }} style="width: {{ percent }}%"></div></div>
  <div{{ bem('percentage', [], 'progress') }}>{{ percent }}%</div>
  <div{{ bem('description', [], 'progress') }}>{{ message }}</div>
</div>
