{% set colors_base_class = "sg-colors" %}

<div {{ bem(colors_base_class) }}>
  {% include "@atoms/text/headings/_heading.twig" with {
    heading_level: 2,
    heading: colors_heading,
  } %}

  {% for palette in palettes %}
    {% set palette_machine = palette.palette_heading|lower %}
    {% include "@atoms/text/headings/_heading.twig" with {
      heading_level: 3,
      heading: palette.palette_heading ~ ' Theme',
    } %}
    <ul {{ bem('ul', [palette_machine], colors_base_class) }}>
      {% for color in palette.colors %}
        {% set color_machine = palette_machine ~ '-' ~ color|lower|replace({' ': '-'}) %}
        <li {{ bem("list", [color_machine], colors_base_class) }}>
          <div {{ bem("sg-info") }}>
            <span>{{ color }}</span> <br/>
            <code>clr({{ color_machine }})</code>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
</div>
